body {
  font-family: sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.background-1 {
  background: #68b0ab;
}

.background-2 {
  background: #8fc0a9;
}

.background-3 {
  background: #c8d5b9;
}

.background-4 {
  background: #faf3dd;
}

.m-20 {
  margin: 20px;
}

.h-80 {
  height: 80px;
}

.h-400 {
  height: 400px;
}

.w-80 {
  width: 80px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-1 {
  background-color: violet;
  flex: 1;
}

.flex-item-2 {
  background-color: crimson;
  flex: 2;
}

.flex-item-3 {
  background-color: rebeccapurple;
  flex: 3;
}

.flex-item-4 {
  background-color: coral;
  flex: 4;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-basis-item-50,
.flex-wrap {
  flex-wrap: wrap-reverse;
  flex-basis: 25%;
}

.flex-menu {
  display: flex;
  gap: 2px;
  list-style-type: none;
  padding: 0px 2px;
  cursor: pointer;
  justify-content: flex-start;
}

.flex-menu a {
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.flex-menu a:hover {
  background-color: #a9c28c;
}

.flex-menu a:active {
  background-color: #8ea375;
}
